<div class = 'container'>
<div class="footer-margin"></div>	
<div class="footer-border">
<div class = 'col-lg-2 col-md-2 col-sm-2 col-xs-6 padding-left-none padding-right-none'><a href='#'>Terms of Use</a></div>
<div class = 'col-lg-2 col-md-2 col-sm-2 col-xs-6 padding-left-none padding-right-none'><a href='#'>About Us </a></div>
<div class = 'col-lg-2 col-md-2 col-sm-2 col-xs-6 padding-left-none padding-right-none'><a href='#'>Contact Us </a></div>
</div>
</div>