<div>
	<div class="heading" ><h1>About My Store</h1>
		<h4>This app is very usefull for Medical stores and<br> pharmas. We can note the available madicines,<br> price of the madicines, expiring dates, manufacturing company and also quantity<br> of the available madicines in the store.<br> It reduces the page work and more efficient.  </h4>
	</div>
    <div class = "home_page">
	    <!-- <img  src="http://www.timeslive.co.za/incoming/2013/10/23/pills-3734b1.jpg/ALTERNATES/crop_630x400/pills-3734b1.jpg"> -->
	     <img src="assets/mmm.jpg"  alt="Image not loaded">
    </div>
</div>
